<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Wikipedia</title>
</head>
<body>
        <nav>
             <div class="nav-wrapper">
                  <a href="#" style="margin-left:20px;" class="brand-logo text-center">Wikipedia</a>
                </div>
              </nav>
    <div class="container">
            <div class="row">
                    <form class="col s12" method="post">
                      <div class="row">
                        <div class="input-field col s6">
                          <i class="material-icons prefix">search</i>
                          <input type="text" class="validate" id="icon_prefix" name="query">
                          
                          <label for="icon_prefix">Query</label>
                        </div>
                      </div>
                      <button class="waves-effect waves-light btn" type="submit"><i class="material-icons right">search</i>Search</button>
                      <!-- <a class="waves-effect waves-light btn"><i class="material-icons right">search</i>Submit</a> -->
                    </form>
                  </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>